<launch>
  <include file="$(find localization)/launch/localization.launch" />

  <include file="$(find laser_projection)/launch/laser_projection.launch" />

  <include file="$(find robot_driver)/launch/robot_driver.launch" />

  <include file="$(find base_controller)/launch/move_base.launch" />
</launch>
